*{
	margin:0;
	padding:0;
	list-style:none;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #4d636f ;
}

html{
	background-color: rgb(245,247,248);
}
.logo{
	background-color: #3a4b53;
	line-height: 50px;
	display: flex;
	float: left;
}
nav .fa-home{
	padding: 0 20px;
}

.logo:hover{
	background-color: #ccc;
}
.logo:hover a{
	color: #000;
}

.logo a{
	color: #fff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo h3{
	padding-right: 20px;
}
.nav-menu{
	float: left;
	display: flex;
	line-height: 50px;
}

.nav-menu li{
	padding: 0 10px;
}

.nav-menu a{
	color: #fff;
	font-size: 18px;
	padding:12px  
}
.nav_avater{
	line-height: 50px;
	display: block;
	float: right;
	padding-right: 50px;
}
.nav_avater img{
	width: 23px;
	height: 23px;
	border-radius: 50%;
}

main{
	width: 1200px;
	margin: 30px auto;
}

.w3{
	width: 30%;
}
.w6{
	width: 60%;
}

.box{
	border-radius: 5px;
	box-shadow: 3px 3px #ccc;
}

.profile{
	float: left;
	background-color: #fff;
	padding: 50px;

}

.profile h2{
	font-size: 20px;
}
.profile_divideline{
	width: 100%;
	height: 1px;
	margin: 5px 0;
	background-color: #aaa;
}
.avater{
	width: 100%;
	text-align: center;
}
.avater img{
	margin: 10px 0;
	width: 106px;
	height: 106px;
	border-radius: 50%;

}


.profile li{
	display: flex;
	padding-top: 10px;

}

.profile_info{
	padding: 10px 0;
}

.profile_info i{
	color: #7d97a5;

	padding: 0 20px;

}


.post_area{
	margin-left: 20px;
	padding: 20px;
	float: left;
	background-color: #fff;
}

.post_area input:nth-child(2) {
	font-size: 15px;
	display: block;
	width: 100%;
	padding: 10px;
}

.post_area input:nth-child(3) {
	background-color: rgb(96, 125, 139);
	font-size: 15px;
	display: block;
	width: 100%;
	padding: 10px;
}