*{
	margin:0;
	padding:0;
	list-style:none;
	font-family: "Open Sans", sans-serif;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #4d636f ;
}

.menu{
	display: flex;
}

.logo{
	background-color: #3a4b53;
	line-height: 50px;
}
nav .fa-home{
	padding: 0 20px;
}

.logo:hover{
	background-color: #ccc;
}
.logo:hover a{
	color: #000;
}

.logo a{
	color: #fff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo h3{
	padding-right: 20px;
}
.nav-menu{
	float: left;
	display: flex;
	line-height: 50px;
}

.nav-menu li{
	padding: 0 10px;
}

.nav-menu a{
	color: #fff;
	font-size: 18px;
	padding:12px  
}
.nav_avater{
	line-height: 50px;
	display: block;
	float: right;
}
.nav_avater img{
	width: 23px;
	height: 23px;
	border-radius: 50%;
}

main{
	width: 1200px;
	margin: auto;
}

.w3{
	width: 30%;
}

.profile{

}

.profile h2{
	font-size: 20px;
}

.avater{
	width: 90%;
	border-bottom: 1px solid #5a6170;
}

.avater img{
	width: 106px;
	height: 106px;
	border-radius: 50%;
}

.profile_info {
	display: block;
	width: 100%;
	margin: auto;
}

.profile li{
	display: flex;

}

.profile_info i{

	padding: 0 10px;

}